<h1 class="flex justify-center text-5xl">To-DoList</h1>


<div class="flex flex-col mt-7">
    <input [(ngModel)]="task" type="text" placeholder="enter a task" class="border-2 p-1.5 rounded-xl ">
    <button class="bg-emerald-600 text-amber-50 rounded-xl p-1.5 mt-3" (click)="addtask()">add</button>

</div> 

@for (task of todolist; track $index) {
    <ul class="flex flex-row justify-between mt-8 border-b-2 h-16">
        <li class="ml-2.5">{{task.id}}:</li>
        <li>{{task.name}}</li>
        <div class="flex flex-row">
            <div class="card flex justify-center">
                <p-button (click)="showDialog()" label="Show" class="bg-amber-300 text-black p-2 rounded-2xl h-max mr-2.5"/>
                <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                    <span class="p-text-secondary block mb-8">Update your information.</span>
                    <div class="flex items-center gap-4 mb-4">
                        <label for="username" class="font-semibold w-24">Username</label>
                        <input pInputText id="username" class="flex-auto" autocomplete="off" />
                    </div>
                    <div class="flex items-center gap-4 mb-8">
                        <label for="email" class="font-semibold w-24">Email</label>
                        <input pInputText id="email" class="flex-auto" autocomplete="off" />
                    </div>
                    <div class="flex justify-end gap-2">
                        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                        <p-button label="Save" (click)="visible = false" />
                    </div>
                </p-dialog>
            </div>
        <button class="bg-red-700 text-amber-50 p-2 rounded-2xl h-max mr-2.5" (click)="deletetask(task.id)">delete</button>
        </div>
    </ul>
}